<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (NeoDataLayer.Store.GetInstance().loggedUser != null)
                {
                    @Html.ActionLink("Auction portal", "AuctionPortal", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                </div>
            <div class="navbar-collapse collapse">
                <ul class="mr-auto nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Register", "Index", "Register", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, null)</li>
                    @if (NeoDataLayer.Store.GetInstance().loggedUser != null)
                    {
                        if (NeoDataLayer.Store.GetInstance().loggedUser.role)
                        {
                            <li>@Html.ActionLink("Create auction", "Index", "Auction", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Add subject on auction", "Subject", "Auction", new { area = "" }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("See auctions", "Auctions", "Auction", new { area = "" }, null)</li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
